@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Bona Nova SC", serif;
   
}

#map {
    height: 100vh;
    width: 65%;
    /* border-radius: 0.5rem; */
}

body{
    background-color: #051014;
}

.container {
    background-color: #051014;
    display: flex;
    flex-direction: row;
    color: white;
}
.weather{
    padding: 1rem 3rem;
    justify-content: top;
}

.gif{
    margin: 1rem 3rem;
    width: 15rem;
    height: 15rem;
}

.icon{
    color: black;
    height: 3rem;
    width: 3rem;
    /* margin-right: 1rem; */
}

.weather-info{
    display: flex;
    align-items: center;
}

.detailsTitle{
    font-size: 5vh;
    font-weight: bold;
    justify-content: center;
}

.weatherDetails{
    font-size: 2.5vh;
    line-height: 5vh;
    margin: 3vh;
}

.loadMsg{
    background-color: aliceblue;
    color: black;
    padding: 0.2vw 1vw;
    border-radius: 1vw;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    #map {
        width: 100%;
        height: 50vh;
    }

    .container {
        background-color: #051014;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: white;
    }    

    .weather {
        padding: 1rem;
        text-align: center;
    }

    .weather-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .gif {
        width: 35%;
        height: 40%;
        padding: 0;
        margin: 0;
    }

    .weatherDetails{
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 1rem;
    }

    .weather-info{
        display: flex;
        flex-direction: row;
    }
}
